<form [formGroup]="form" class="c-card c-form" (ngSubmit)="onSubmit()">
  <header class="c-form__header">Edytuj zadanie:</header>
  <label class="c-form__control c-form__control--full-width">
    <span class="c-form__label">Tytuł*</span>
    <input type="text" class="required" [formControl]="form.controls.title"/>
    <div
      class="c-form__error-msg"
      *ngIf="shouldPresentRequiredValidationMessage(form.controls.title)"
    >
      Tytuł jest wymagany
    </div>
  </label>
  <label class="c-form__control c-form__control--full-width">
    <span class="c-form__label">Opis*</span>
    <input
      class="required"
      type="text"
      [formControl]="form.controls.description"
      name="description"
    />
    <div
      class="c-form__error-msg"
      *ngIf="
        shouldPresentRequiredValidationMessage(form.controls.description)
      "
    >
      Opis jest wymagany
    </div>
  </label>

  <label class="c-form__control"
  ><span class="c-form__label">Termin</span>
    <input
      type="date"
      [min]="minDate"
      [formControl]="form.controls.dueDate"
      name="dueDate"
    /></label>

  <label class="c-form__control"
  ><span class="c-form__label">Priorytet</span>
    <select [formControl]="form.controls.priority" name="priority">
      <option *ngFor="let priority of priorityDict" [value]="priority.code">
        {{ priority.value }}
      </option>
    </select>
  </label>
  <label class="c-form__control c-form__control--checkbox">
    <input
      type="checkbox"
      [formControl]="form.controls.completed"
      name="completed"
    /><span class="c-form__label c-form__label--checkbox"
  >Zakończone</span
  ></label
  >
  <footer class="c-form__footer">
    <a class="c-button" [routerLink]="['']">Anuluj</a>
    <button class="c-button c-button--confirm" type="submit">Zapisz</button>
  </footer>
</form>
