<ul class="todos">
  <header class="todos__header">Moja lista zadań:
    <button class="c-button c-button--icon">
      <img src="assets/plus-solid.svg">
    </button>
  </header>
  <li class="todo">
    <div>
      <h4>{{todos[0].title}}</h4>
      <span>{{todos[0].description}}</span>
    </div>
    <div class="todo__buttons">
      <button class="c-button c-button--icon c-button--confirm">
        <img src="assets/check-solid.svg">
      </button>
      <button class="c-button c-button--icon c-button--deny">
        <img src="assets/trash-solid.svg">
      </button>
    </div>
  </li>
  <li class="todo">
    <div>
      <h4>{{todos[1].title}}</h4>
      <span>{{todos[1].description}}</span>
    </div>
    <div class="todo__buttons">
      <button class="c-button c-button--icon c-button--confirm">
        <img src="assets/check-solid.svg">
      </button>
      <button class="c-button c-button--icon c-button--deny">
        <img src="assets/trash-solid.svg">
      </button>
    </div>
  </li>
  <li class="todo">
    <div>
      <h4>{{todos[2].title}}</h4>
      <span>{{todos[2].description}}</span>
    </div>
    <div class="todo__buttons">
      <button class="c-button c-button--icon c-button--confirm">
        <img src="assets/check-solid.svg">
      </button>
      <button class="c-button c-button--icon c-button--deny">
        <img src="assets/trash-solid.svg">
      </button>
    </div>
  </li>
</ul>
