<ul class="todos">
  <header class="todos__header"> Moja lista zadań:
    <button class="c-button c-button--icon">
      <img src="assets/plus-solid.svg">
    </button>
  </header>
  <li class="todo">
    <div>
      <h4>Skończyć pisanie sprawozdania</h4>
      <span>Dokończyć pisanie sprawozdania z wdrożenia przed ustalonym terminem</span>
    </div>
    <div class="todo__buttons">
      <button class="c-button c-button--icon c-button--confirm">
        <img src="assets/check-solid.svg">
      </button>
      <button class="c-button c-button--icon c-button--deny">
        <img src="assets/trash-solid.svg">
      </button>
    </div>
  </li>
  <li class="todo">
    <div>
      <h4>Zrobić zakupy</h4>
      <span>Kupić niezbędne produkty na cały tydzień</span>
    </div>
    <div class="todo__buttons">
      <button class="c-button c-button--icon c-button--confirm">
        <img src="assets/check-solid.svg">
      </button>
      <button class="c-button c-button--icon c-button--deny">
        <img src="assets/trash-solid.svg">
      </button>
    </div>
  </li>
  <li class="todo">
    <div>
      <h4>Ćwiczenia</h4>
      <span>Wstać wcześniej i pójść na siłownię</span>
    </div>
    <div class="todo__buttons">
      <button class="c-button c-button--icon c-button--confirm">
        <img src="assets/check-solid.svg">
      </button>
      <button class="c-button c-button--icon c-button--deny">
        <img src="assets/trash-solid.svg">
      </button>
    </div>
  </li>
</ul>
