<ul class="todos">
  <header class="todos__header">Moja lista zadań:
    <button class="c-button c-button--icon">
      <img src="assets/plus-solid.svg">
    </button>
  </header>
  <li *ngFor="let todo of todos" class="todo">
    <div>
      <h4
        [ngClass]="{ 'todo__title--completed': todo.completed }"
        class="todo__title"
      >
        {{ todo.title }}
      </h4>
      <span
        [ngClass]="{ 'todo__description--completed': todo.completed }"
        class="todo__description"
      >{{ todo.description }}</span
      >
    </div>
    <div class="todo__buttons">
      <button
        *ngIf="todo.completed"
        class="c-button c-button--icon c-button--warning"
      >
        <img src="assets/rotate-left-solid.svg"/>
      </button>
      <button
        *ngIf="!todo.completed"
        class="c-button c-button--icon c-button--confirm"
      >
        <img src="assets/check-solid.svg"/>
      </button>
      <button class="c-button c-button--icon c-button--deny">
        <img src="assets/trash-solid.svg"/>
      </button>
    </div>
  </li>
</ul>
